### add folder experiments/mobileRobot/conf/data to gitignore file below this line
/experiments/mobileRobot/conf/data/
/experiments/frankaKitchen/conf/data/
/sweep_dir/
/experiments/hydraulics/
*.pickle
*.pkl
/outputs/
*.json
*.log
*.h5
*.npz
*.ckpt
*.hdf5
*.wandb
*.out
/.vscode
/.idea