omegaconf==2.3.0
hydra_core==1.3.2
hydra-submitit-launcher==1.2.0
numpy==1.26.1
wandb==0.15.12
torch==1.13.1
torchview==0.2.6
pandas==2.1.2
matplotlib==3.8.0
torchvision==0.14.1
torchviz==0.0.2

# from plotTrajectory.py
SciencePlots==2.1.0 
tueplots==0.0.10

# from latentViz.py
scikit-learn==1.3.2
seaborn==0.13.0
plotly==5.18.0